$color-white: #fff;
$color-dark: #000;
$color-red: rgb(231, 58, 27);
$color-text: rgb(205, 194, 108);
$color-bgpage: rgb(36, 107, 90);

$card-color: $color-white;
$color-dark: $color-dark;
$card-red: $color-red;

$font-page: 'Roboto', sans-serif;;