@import './styles/variables.scss';

body {
  height: 100vh;
  background-color: $color-bgpage;
  color: $color-text;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: $font-page;
  font-weight: bolder;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
}

.deck.all .card + .card {
  margin-left: -90px;
}