@import './variables.module.scss';

.home {
  height: 100vh;
  background-color: $color-bgpage;
  color: $color-text;
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: $font-page;
  font-weight: bolder;
}

.title {
  font-family: 'Do Hyeon', sans-serif;
}
